.section_header
  .section_header_wrapp
    %ul.section_header_nav
      %li.active
        %a{:href => 'profilMain.html'}
          Общее
      %li.swiper-slide
        %a{:href => '#'}
          Треки
      %li.swiper-slide
        %a{:gref => '#'}
          Профиль полетов
      %li.swiper-slide
        %a{:href => '#'}
          Видео
