* {
	padding: 0;
	margin: 0;
	outline: none;
}

body {
	color: $text;
	font-family: $pn-l;
	background: $bg;
}

::selection {
	color: #fff;
	background: $text;
}
::-moz-selection {
	color: #fff;
	background: $text;
}
::-webkit-selection {
	color: #fff;
	background: $text;
}

a {

	&[href^="http://savefrom.net/"] {display: none !important;}
}