.progress {
	display: inline-flex;
  align-items: center;
  position: relative;
  margin: 0 15px 15px 0;

  @include respond-to(mobile) {

  	&-text {
  		max-width: 200px;
  		white-space: nowrap;
  		overflow: hidden;
  	}
  }

  &-icon {
  	width: 39px;
  	height: 39px;
  	background: #000;
  	border: 6px solid $text;
  	border-radius: 100%;
  	display: flex;
		justify-content: center;
		align-items: center;
  	z-index: 2;

  	&:before {
			font-family: $icon;
			height: 23px;
			overflow: hidden;
		}
  }

  &-text {
  	color: $text;
  	font: 14px/18px $pn-r;
  	padding: 7px 15px 7px 29px;
  	margin-left: -15px;
  	display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid $border;
  	background: #fff;
  	position: relative;
  	z-index: 1;

  	span {
  		color: $gray;
  		font: 10px/10px $pn-r;
  	}
  }

  &-top {

		&:before {
	  	content: '';
	  	width: 0;
			height: 0;
			border-style: solid;
			border-width: 21px 12px 0 0;
			border-color: $border transparent transparent transparent;
			position: absolute;
			top: 4px; right: -12px;
			z-index: 1;
	  }

	  &:after {
	  	content: '';
	  	width: 0;
			height: 0;
			border-style: solid;
			border-width: 20px 11px 0 0;
			border-color: #fff transparent transparent transparent;
			position: absolute;
			top: 5px; right: -10px;
			z-index: 1;
	  }
	}

	&-bottom {

		&:before {
	  	content: '';
	  	width: 0;
			height: 0;
			border-style: solid;
			border-width: 21px 0 0 12px;
			border-color: transparent transparent transparent $border;
			position: absolute;
			bottom: 3px; right: -12px;
			z-index: 1;
	  }

	  &:after {
	  	content: '';
	  	width: 0;
			height: 0;
			border-style: solid;
			border-width: 21px 0 0 11px;
			border-color: transparent transparent transparent #fff;
			position: absolute;
			bottom: 4px; right: -10px;
			z-index: 1;
	  }
	}

  &.gold {

  	.progress-icon {
  		background: $gold;
  		border-color: $gold-light;

  		&:before {
  			content: $icon-cup;
  			color: $gold-dark;
  			font-size: 28px;
  		}
  	}

  	&.online {

  		.progress-icon {

  			&:before {
  				content: $icon-star;
  			}
  		}
  	}
  }

  &.silver {

  	.progress-icon {
  		background: $silver;
  		border-color: $silver-light;

  		&:before {
  			content: $icon-cup;
  			color: $silver-dark;
  			font-size: 28px;
  		}
  	}

  	&.online {

  		.progress-icon {

  			&:before {
  				content: $icon-star;
  			}
  		}
  	}
  }

  &.bronze {

  	.progress-icon {
  		background: $bronze;
  		border-color: $bronze-light;

  		&:before {
  			content: $icon-cup;
  			color: $bronze-dark;
  			font-size: 28px;
  		}
  	}

  	&.online {

  		.progress-icon {

  			&:before {
  				content: $icon-star;
  			}
  		}
  	}
  }

  &.legend {

  	.progress-icon {
  		background: $red;
  		border-color: $red-light;

  		&:before {
  			content: $icon-fire;
  			color: $red-dark;
  			font-size: 22px;
  		}
  	}
  }

  &.skyderby {

  	.progress-icon {
  		background: $blue;
  		border-color: $blue-light;

  		&:before {
  			content: $icon-sd;
  			color: $blue-dark;
  			font-size: 22px;
  		}
  	}
  }

  &.donate {

  	.progress-icon {
  		background: $green;
  		border-color: $green-light;

  		&:before {
  			content: $icon-bc;
  			color: $green-dark;
  			font-size: 22px;
  		}
  	}
  }
}
