@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow: 0 1px 2px 0px rgba(0,0,0,0.2)) {
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin blur($blur) {
	-webkit-filter: blur($blur);
	-moz-filter: blur($blur);
	filter: blur($blur);
}

@mixin placeholder($color, $opacity) {
	::-webkit-input-placeholder {
		color: $color;
		opacity: $opacity;
	}
	:-ms-input-placeholder {
		color: $color;
		opacity: $opacity;
	}
	::-moz-placeholder {
		color: $color;
		opacity: $opacity;
	}
	:-moz-placeholder {
		color: $color;
		opacity: $opacity;
	}
}

@mixin _clearfix {
	&:after {
		clear: both;
		content: ' ';
		display: block;
		font-size: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
		height: 0;
	}
}

@mixin column($column, $gap) {
	-moz-column-count: $column;
	-moz-column-gap: $gap;
	-webkit-column-count: $column;
	-webkit-column-gap: $gap;
	column-count: $column;
	column-gap: $gap;
}

@mixin transition($target: all, $time: 250ms, $ease: ease-in-out) {
	-webkit-transition: $target $time $ease;
	-moz-transition:    $target $time $ease;
	-o-transition:      $target $time $ease;
	-ms-transition:     $target $time $ease;
	transition:         $target $time $ease;
}

@mixin transition-delay($transition, $delay) {
	-webkit-transition: 			$transition;
	-webkit-transition-delay: $delay;
	-o-transition:						$transition;
	-o-transition-delay: 			$delay;
	-moz-transition:					$transition;
	-moz-transition-delay: 		$delay;
	transition: 							$transition;
	transition-delay: 				$delay;
}

@mixin transform($transform) {
	-moz-transform: $transform;
	-webkit-transform: $transform;
	-o-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}

@mixin user-select($uselect) {
	-webkit-touch-callout: $uselect;
	-webkit-user-select: $uselect;
	-khtml-user-select: $uselect;
	-moz-user-select: $uselect;
	-ms-user-select: $uselect;
	user-select: $uselect;
}