.section_item
  .section_item_head.nav.brd
    .section_item_head_title Онлайн соревнования
    %ul.section_item_head_nav
      %li
        %a{:href => '#'}
          All
      %li
        %a.active{:href => '#'}
          Skydive
      %li
        %a{:href => '#'}
          BASE

  .main
    .main_title Skydive Worldwide Challenge
    %a.main_item{:href => 'onlinePage.html'}
      .main_item_head
        .main_item_head_title
          Wingsuit challenge
        .main_item_head_class
          %p
            Всемирные
          %p
            Участники –
            %span
              18
        .main_item_head_window
          Competition window:
          %span
            3000 – 2000 m
      .main_item_round
        .main_item_round__item
          .main_item_round__item_title Дистанция
          .main_item_round__item_wrapp
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Alexey Galda
              .main_item_round__item_wrapp_item__result 5986 м
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Kistaichev Sergey
              .main_item_round__item_wrapp_item__result 5597 м
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Joe Ridler
              .main_item_round__item_wrapp_item__result 5592 м
        .main_item_round__item
          .main_item_round__item_title Скорость
          .main_item_round__item_wrapp
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Joe Ridler
              .main_item_round__item_wrapp_item__result 374.0 км/ч
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Travis Mickle
              .main_item_round__item_wrapp_item__result 349.3 км/ч
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Anthony Zerbonia
              .main_item_round__item_wrapp_item__result 340.8 км/ч
        .main_item_round__item
          .main_item_round__item_title Время
          .main_item_round__item_wrapp
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Chris Geiler
              .main_item_round__item_wrapp_item__result 108.3 с
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Dmitry Podoryashy
              .main_item_round__item_wrapp_item__result 96.2 с
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Kistaichev Sergey
              .main_item_round__item_wrapp_item__result 95.7 с
    %a.main_item{:href => 'onlinePage.html'}
      .main_item_head
        .main_item_head_title
          Monosuit challenge
        .main_item_head_class
          %p
            Всемирные
          %p
            Участники –
            %span
              18
        .main_item_head_window
          Competition window:
          %span
            3000 – 2000 m
      .main_item_round
        .main_item_round__item
          .main_item_round__item_title Дистанция
          .main_item_round__item_wrapp
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Alexey Galda
              .main_item_round__item_wrapp_item__result 5986 м
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Kistaichev Sergey
              .main_item_round__item_wrapp_item__result 5597 м
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Joe Ridler
              .main_item_round__item_wrapp_item__result 5592 м
        .main_item_round__item
          .main_item_round__item_title Скорость
          .main_item_round__item_wrapp
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Joe Ridler
              .main_item_round__item_wrapp_item__result 374.0 км/ч
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Travis Mickle
              .main_item_round__item_wrapp_item__result 349.3 км/ч
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Anthony Zerbonia
              .main_item_round__item_wrapp_item__result 340.8 км/ч
        .main_item_round__item
          .main_item_round__item_title Время
          .main_item_round__item_wrapp
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Chris Geiler
              .main_item_round__item_wrapp_item__result 108.3 с
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Dmitry Podoryashy
              .main_item_round__item_wrapp_item__result 96.2 с
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Kistaichev Sergey
              .main_item_round__item_wrapp_item__result 95.7 с
    %a.main_item{:href => 'onlinePage.html'}
      .main_item_head
        .main_item_head_title
          Tracksuit challenge
        .main_item_head_class
          %p
            Всемирные
          %p
            Участники –
            %span
              18
        .main_item_head_window
          Competition window:
          %span
            3000 – 2000 m
      .main_item_round
        .main_item_round__item
          .main_item_round__item_title Дистанция
          .main_item_round__item_wrapp
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Alexey Galda
              .main_item_round__item_wrapp_item__result 5986 м
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Kistaichev Sergey
              .main_item_round__item_wrapp_item__result 5597 м
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Joe Ridler
              .main_item_round__item_wrapp_item__result 5592 м
        .main_item_round__item
          .main_item_round__item_title Скорость
          .main_item_round__item_wrapp
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Joe Ridler
              .main_item_round__item_wrapp_item__result 374.0 км/ч
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Travis Mickle
              .main_item_round__item_wrapp_item__result 349.3 км/ч
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Anthony Zerbonia
              .main_item_round__item_wrapp_item__result 340.8 км/ч
        .main_item_round__item
          .main_item_round__item_title Время
          .main_item_round__item_wrapp
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Chris Geiler
              .main_item_round__item_wrapp_item__result 108.3 с
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Dmitry Podoryashy
              .main_item_round__item_wrapp_item__result 96.2 с
            .main_item_round__item_wrapp_item
              .main_item_round__item_wrapp_item__img
                %img{:src => "../static/images/avatar/user.png"}/
              .main_item_round__item_wrapp_item__name Kistaichev Sergey
              .main_item_round__item_wrapp_item__result 95.7 с
