.section_item
  .section_item_head.center
    .section_item_head_title.wrap
      Skydive Worldwide Challenge
      %br
      Wingsuit Challenge
    .main_item_head_class
      %p
        Всемирные
      %p
        Участники –
        %span
          18
    .section_item_head_window
      Competition window:
      %span
        3000 – 2000 m
    .section_item_head_task
      Цель:
      %span
        лететь с минимально возможной вертикальной скоростью находясь в зачетном окне.
    %ul.section_item_head_nav.select
      %li
        %a{:href => '#'}
          Distance
      %li
        %a.active{:href => '#'}
          Time
      %li
        %a{:href => '#'}
          Speed
      %li
        .select-control-default
          %select
            %option 2018
            %option 2017
            %option 2016
            %option 2015

  .page
    .page_wrapp
      .page_wrapp_leaders
        %a.page_wrapp_leaders__item{:href => 'track.html'}
          .page_wrapp_leaders__item__img
            %img{:src => "../static/images/avatar/user.png"}/
          .page_wrapp_leaders__item__name Chris Geiler
          .page_wrapp_leaders__item__result 108.3 с

        %a.page_wrapp_leaders__item{:href => 'track.html'}
          .page_wrapp_leaders__item__img
            %img{:src => "../static/images/avatar/user.png"}/
          .page_wrapp_leaders__item__name Dmitry Podoryashy
          .page_wrapp_leaders__item__result 96.2 с

        %a.page_wrapp_leaders__item{:href => 'track.html'}
          .page_wrapp_leaders__item__img
            %img{:src => "../static/images/avatar/user.png"}/
          .page_wrapp_leaders__item__name Kistaichev Sergey
          .page_wrapp_leaders__item__result 95.7 с
      .page_wrapp_pilots
        .table
          %a.tr{:href => 'track.html'}
            .td 1.
            .td Chris Geiler
            .td
              %span SQ
              CR+
            .td 108.3 с
          %a.tr{:href => 'track.html'}
            .td 2.
            .td Dmitry Podoryashy
            .td
              %span PF
              Vampire Alpine
            .td 96.2 с
          %a.tr{:href => 'track.html'}
            .td 3.
            .td Kistaichev Sergey
            .td
              %span PF
              Vampire Alpine
            .td 95.7 с
          %a.tr{:href => 'track.html'}
            .td 4.
            .td Leonid Sigalov
            .td
              %span SQ
              CR+
            .td 95.3 с
          %a.tr{:href => 'track.html'}
            .td 5.
            .td Il Principe
            .td
              %span SQ
              CR+
            .td 93.1 с
          %a.tr{:href => 'track.html'}
            .td 6.
            .td Aleksei Shatilov
            .td
              %span TS
              Jedei 3
            .td 93.1 с
          %a.tr{:href => 'track.html'}
            .td 7.
            .td Alexey Galda
            .td
              %span SQ
              CR+
            .td 92.2 с
          %a.tr{:href => 'track.html'}
            .td 8.
            .td Davide Masi
            .td
              %span IA
              Orca
            .td 91.8 с
          %a.tr{:href => 'track.html'}
            .td 9.
            .td Espen Fadnes
            .td
              %span SQ
              CR+
            .td 91.3 с
          %a.tr{:href => 'track.html'}
            .td 10.
            .td Luke Rogers
            .td
              %span SQ
              CR+
            .td 91.0 с
          %a.tr{:href => 'track.html'}
            .td 11.
            .td Kristian Szczepitko
            .td
              %span SQ
              CR+
            .td 90.9 с
          %a.tr{:href => 'track.html'}
            .td 12.
            .td Joe Ridler
            .td
              %span SQ
              CR+
            .td 88.8 с
          %a.tr{:href => 'track.html'}
            .td 13.
            .td Flo Kas
            .td
              %span TS
              Rebel FreeBird
            .td 88.8 с
          %a.tr{:href => 'track.html'}
            .td 14.
            .td Andrew Swint
            .td
              %span SQ
              CR+
            .td 88.6 с
          %a.tr{:href => 'track.html'}
            .td 15.
            .td Scott Steeves
            .td
              %span SQ
              CR+
            .td 88.5 с
          %a.tr{:href => 'track.html'}
            .td 16.
            .td Alexandr Aksenov
            .td
              %span SQ
              CR+
            .td 88.2 с
          %a.tr{:href => 'track.html'}
            .td 17.
            .td Giles Gueveneux
            .td
              %span TS
              Jedei 3
            .td 88.1 с
          %a.tr{:href => 'track.html'}
            .td 18.
            .td Robert Krenker
            .td
              %span TS
              Jedei 3
            .td 88.1 с
          %a.tr{:href => 'track.html'}
            .td 19.
            .td Scott Callantine
            .td
              %span TS
              Jedei 2
            .td 87.4 с
          %a.tr{:href => 'track.html'}
            .td 20.
            .td Stefan Gilbert
            .td
              %span SQ
              CR+
            .td 87.2 с
          %a.tr.you{:href => 'track.html'}
            .td 598.
            .td Александр Жариков
            .td
              %span TS
              I-Bird
            .td 42.9 с
