@charset "UTF-8";
@font-face {
  font-family: "Proxima Nova Thin";
  src: url("../fonts/proxima-nova/ProximaNovaT-Thin.eot");
  src: url("../fonts/proxima-nova/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNovaT-Thin.woff") format("woff"), url("../fonts/proxima-nova/ProximaNovaT-Thin.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNovaT-Thin.svg#ProximaNova-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/proxima-nova/ProximaNova-Light.eot");
  src: url("../fonts/proxima-nova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNova-Light.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-Light.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/proxima-nova/ProximaNova-Regular.eot");
  src: url("../fonts/proxima-nova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNova-Regular.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/proxima-nova/ProximaNova-Semibold.eot");
  src: url("../fonts/proxima-nova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/proxima-nova/ProximaNova-Bold.eot");
  src: url("../fonts/proxima-nova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNova-Bold.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova Thin Italic";
  src: url("../fonts/proxima-nova/ProximaNova-ThinIt.eot");
  src: url("../fonts/proxima-nova/ProximaNova-ThinIt.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNova-ThinIt.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-ThinIt.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-ThinIt.svg#ProximaNova-ThinIt") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova Light Italic";
  src: url("../fonts/proxima-nova/ProximaNova-LightIt.eot");
  src: url("../fonts/proxima-nova/ProximaNova-LightIt.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNova-LightIt.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-LightIt.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-LightIt.svg#ProximaNova-LightIt") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova Regular Italic";
  src: url("../fonts/proxima-nova/ProximaNova-RegularIt.eot");
  src: url("../fonts/proxima-nova/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNova-RegularIt.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-RegularIt.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-RegularIt.svg#ProximaNova-RegularIt") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova Semibold Italic";
  src: url("../fonts/proxima-nova/ProximaNova-SemiboldIt.eot");
  src: url("../fonts/proxima-nova/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNova-SemiboldIt.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-SemiboldIt.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova Bold Italic";
  src: url("../fonts/proxima-nova/ProximaNova-BoldIt.eot");
  src: url("../fonts/proxima-nova/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNova-BoldIt.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-BoldIt.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-BoldIt.svg#ProximaNova-BoldIt") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Icon";
  src: url("../fonts/icon/icon.eot");
  src: url("../fonts/icon/icon.eot?#iefix") format("embedded-opentype"), url("../fonts/icon/icon.woff") format("woff"), url("../fonts/icon/icon.ttf") format("truetype"), url("../fonts/icon/icon.svg#icon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media only screen and (max-width: 959px) {
  .container {
    width: 90%;
    margin: 0 auto; } }

@media only screen and (min-width: 960px) {
  .container {
    width: 960px;
    margin: 0 auto; } }

@media only screen and (min-width: 1201px) {
  .container {
    width: 1200px;
    margin: 0 auto; } }

/* ERIC MEYER RESET
================================================== */
html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit; }

ol, ul {
  list-style: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: ""; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: 0; }

a:hover,
a:active {
  outline: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal;
  *overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

* {
  padding: 0;
  margin: 0;
  outline: none; }

body {
  color: #333333;
  font-family: "Proxima Nova Light";
  background: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

::selection {
  color: #fff;
  background: #333333; }

::-moz-selection {
  color: #fff;
  background: #333333; }

::-webkit-selection {
  color: #fff;
  background: #333333; }

a[href^="http://savefrom.net/"] {
  display: none !important; }

.profil .progress {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: 0 15px 15px 0; }
  @media only screen and (max-width: 959px) {
    .profil .progress_text {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden; } }
  .profil .progress_icon {
    width: 39px;
    height: 39px;
    background: #000;
    border: 6px solid #333333;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; }
    .profil .progress_icon:before {
      font-family: "Icon";
      height: 23px;
      overflow: hidden; }
  .profil .progress_text {
    color: #333333;
    font: 14px/18px "Proxima Nova Regular";
    padding: 7px 15px 7px 29px;
    margin-left: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    background: #fff;
    position: relative;
    z-index: 0; }
    .profil .progress_text span {
      color: #999999;
      font: 10px/10px "Proxima Nova Regular"; }
  .profil .progress_top:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 21px 12px 0 0;
    border-color: #efefef transparent transparent transparent;
    position: absolute;
    top: 4px;
    right: -12px;
    z-index: 1; }
  .profil .progress_top:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 11px 0 0;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 5px;
    right: -10px;
    z-index: 1; }
  .profil .progress_bottom:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 21px 0 0 12px;
    border-color: transparent transparent transparent #efefef;
    position: absolute;
    bottom: 3px;
    right: -12px;
    z-index: 1; }
  .profil .progress_bottom:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 21px 0 0 11px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    bottom: 4px;
    right: -10px;
    z-index: 1; }
  .profil .progress.gold .progress_icon {
    background: #ffcc00;
    border-color: #ffe57c; }
    .profil .progress.gold .progress_icon:before {
      content: "";
      color: #e1b400;
      font-size: 28px; }
  .profil .progress.gold.online .progress_icon:before {
    content: ""; }
  .profil .progress.silver .progress_icon {
    background: #dfdfdf;
    border-color: #eaeaea; }
    .profil .progress.silver .progress_icon:before {
      content: "";
      color: #c6c6c6;
      font-size: 28px; }
  .profil .progress.silver.online .progress_icon:before {
    content: ""; }
  .profil .progress.bronze .progress_icon {
    background: #df8250;
    border-color: #ffaa72; }
    .profil .progress.bronze .progress_icon:before {
      content: "";
      color: #c87548;
      font-size: 28px; }
  .profil .progress.bronze.online .progress_icon:before {
    content: ""; }
  .profil .progress.legend .progress_icon {
    background: #ff6666;
    border-color: #ff9090; }
    .profil .progress.legend .progress_icon:before {
      content: "";
      color: #be4c4c;
      font-size: 22px; }
  .profil .progress.skyderby {
    top: -4px; }
    .profil .progress.skyderby .progress_icon {
      background: #75a4ba;
      border-color: #8fc8e3; }
      .profil .progress.skyderby .progress_icon:before {
        content: "";
        color: #5c8293;
        font-size: 22px; }
  .profil .progress.donate {
    top: -4px; }
    .profil .progress.donate .progress_icon {
      background: #5cb85c;
      border-color: #6cd86c; }
      .profil .progress.donate .progress_icon:before {
        content: "";
        color: #458a45;
        font-size: 22px; }
  .profil .progress.one {
    top: -4px; }
    .profil .progress.one .progress-text {
      padding: 12px 18px 12px 29px; }

.notification {
  position: absolute;
  box-sizing: border-box;
  display: none;
  background: #fff;
  box-shadow: 1px 0 25px 0 rgba(0, 0, 0, 0.15);
  z-index: 3; }
  .notification_title {
    height: 52px;
    font: 16px/16px "Proxima Nova Regular";
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #efefef; }
  .notification_wrapp_item {
    display: flex;
    padding: 20px 20px 17px;
    border-bottom: 1px solid #efefef;
    overflow-y: scroll; }
    .notification_wrapp_item_img {
      width: 41px;
      height: 41px;
      position: relative;
      margin-right: 20px; }
      .notification_wrapp_item_img img {
        width: 41px;
        height: 41px;
        border-radius: 100%;
        position: relative;
        z-index: 1; }
      .notification_wrapp_item_img span.label {
        width: 16px;
        height: 16px;
        display: block;
        text-align: center;
        border-radius: 100%;
        border: 2px solid #fff;
        position: absolute;
        bottom: -4px;
        right: -4px;
        background: #efefef;
        z-index: 2; }
      .notification_wrapp_item_img span.rss:before {
        content: "";
        font: 10px/0px "Icon";
        margin-top: 9px; }
      .notification_wrapp_item_img span.star:before {
        content: "";
        font: 11px/0px "Icon";
        margin-top: 9.5px; }
      .notification_wrapp_item_img span.location:before {
        content: "";
        font: 9px/0px "Icon";
        margin-top: 8.5px; }
      .notification_wrapp_item_img span.plus:before {
        content: '+';
        font: 15px/0px "Proxima Nova Bold";
        margin-top: 9px; }
      .notification_wrapp_item_img span.orange {
        background: #ffa21d; }
      .notification_wrapp_item_img span.red {
        background: #ff6666; }
      .notification_wrapp_item_img span.green {
        background: #5cb85c; }
      .notification_wrapp_item_img span.blue {
        background: #75a4ba; }
      .notification_wrapp_item_img span.aqua {
        background: #00a7ff; }
      .notification_wrapp_item_img span:before {
        color: #fff;
        display: inline-block;
        vertical-align: top; }
    .notification_wrapp_item_content p {
      color: #666;
      font: 14px/18px "Proxima Nova Regular";
      margin-top: -3px; }
      .notification_wrapp_item_content p a {
        color: #75a4ba;
        text-decoration: none;
        -webkit-transition: all 250ms ease-in-out;
        -moz-transition: all 250ms ease-in-out;
        -o-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out; }
        @media only screen and (min-width: 960px) {
          .notification_wrapp_item_content p a:hover {
            color: #8fc8e3; } }
        .notification_wrapp_item_content p a.name {
          font-family: "Proxima Nova Semibold";
          text-transform: uppercase; }
      .notification_wrapp_item_content p span {
        color: #75a4ba;
        cursor: default; }
        .notification_wrapp_item_content p span.name {
          font-family: "Proxima Nova Semibold";
          text-transform: uppercase; }
    .notification_wrapp_item_content_date {
      color: #999;
      font: 12px/12px "Proxima Nova Regular";
      margin-top: 4px; }
    .notification_wrapp_item.new {
      background: #f7fafb; }
    .notification_wrapp_item.cup {
      background: #fffcf3; }
    .notification_wrapp_item:last-child {
      border-bottom: 0; }
  .notification:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -7px;
    right: 0; }
  .notification:after {
    content: '';
    width: 100%;
    height: 15px;
    display: block;
    position: absolute;
    bottom: -1px;
    background: #f00;
    z-index: 2;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%); }

.paginator {
  width: 100%;
  margin: 10px 0 32px; }
  .paginator_wrapp {
    display: flex;
    justify-content: center;
    align-items: center; }
    .paginator_wrapp li {
      font: 28px/38px "Proxima Nova Light";
      margin: 0 15px; }
      .paginator_wrapp li a {
        color: #333333;
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 2px solid transparent;
        -webkit-transition: all 250ms ease-in-out;
        -moz-transition: all 250ms ease-in-out;
        -o-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out; }
        @media only screen and (min-width: 960px) {
          .paginator_wrapp li a:hover {
            color: #75a4ba; } }
      .paginator_wrapp li span {
        color: #75a4ba;
        padding-bottom: 3px;
        border-bottom: 2px solid #75a4ba; }
      .paginator_wrapp li.prev a, .paginator_wrapp li.prev span {
        width: 20px;
        height: 20px;
        position: relative;
        display: block;
        border-color: transparent; }
        .paginator_wrapp li.prev a:before, .paginator_wrapp li.prev span:before {
          content: "";
          font: 14px/14px "Icon";
          display: block;
          position: absolute;
          top: 5px;
          left: 6px;
          -moz-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
      .paginator_wrapp li.prev span {
        color: #333333; }
      .paginator_wrapp li.next a, .paginator_wrapp li.next span {
        width: 20px;
        height: 20px;
        position: relative;
        display: block;
        border-color: transparent; }
        .paginator_wrapp li.next a:before, .paginator_wrapp li.next span:before {
          content: "";
          font: 14px/14px "Icon";
          display: block;
          position: absolute;
          top: 5px;
          right: 6px;
          -moz-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg); }
      .paginator_wrapp li.next span {
        color: #333333; }

@media only screen and (max-width: 959px) {
  footer {
    width: 100%;
    color: #333333;
    display: block;
    font: 12px/12px "Proxima Nova Light";
    margin-bottom: 10px; } }

@media only screen and (min-width: 960px) {
  footer {
    width: 80px;
    color: #fff;
    flex: 0 1 auto;
    font: 10px/10px "Proxima Nova Light";
    margin-left: 175px;
    text-align: center;
    margin-bottom: 10px; } }

@media only screen and (min-width: 1201px) {
  footer {
    width: 100%;
    color: #fff;
    flex: 0 1 auto;
    font: 12px/12px "Proxima Nova Light";
    margin-left: 0;
    margin-bottom: 10px; } }

footer p {
  display: flex;
  justify-content: center;
  align-items: center; }
  footer p .icon:before {
    content: "";
    font: 8px "Icon";
    color: #ff9191;
    margin: 0 3px; }
  footer p:first-child {
    padding-bottom: 2px; }
  @media only screen and (min-width: 960px) {
    footer p:last-child {
      display: none; } }
  @media only screen and (min-width: 1201px) {
    footer p:last-child {
      display: flex; } }

html, body {
  overflow-x: hidden; }
  html.overflow, body.overflow {
    overflow: hidden; }

.page_overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10; }

header {
  width: 100%;
  height: 70px;
  overflow: hidden;
  position: fixed;
  background: #252f3c;
  z-index: 3;
  -webkit-transition: all 500ms ease-in-out;
  -webkit-transition-delay: 0;
  -o-transition: all 500ms ease-in-out;
  -o-transition-delay: 0;
  -moz-transition: all 500ms ease-in-out;
  -moz-transition-delay: 0;
  transition: all 500ms ease-in-out;
  transition-delay: 0; }
  header .head {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 25px 0 20px;
    background: #2a3544; }
    header .head_nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    header .head a {
      color: #fff;
      font: 25px "Proxima Nova Light";
      letter-spacing: .05em;
      text-transform: uppercase;
      text-decoration: none;
      display: flex;
      align-items: center;
      flex-direction: row;
      position: relative;
      z-index: 1; }
      header .head a span {
        opacity: 1; }
      header .head a:before {
        content: "";
        color: #fff;
        font: 38px "Icon";
        margin: 0 15px 0 0; }
    header .head .notif {
      width: 15px;
      height: 17px;
      margin-right: 12.5px;
      display: block;
      position: relative; }
      header .head .notif.active:before {
        display: block; }
      header .head .notif:before {
        content: '';
        width: 4px;
        height: 4px;
        display: none;
        border-radius: 10px;
        border: 2px solid #252f3c;
        background: #75a4ba;
        position: absolute;
        top: 0px;
        right: -1px;
        margin: 0 !important;
        z-index: 2; }
      header .head .notif:after {
        content: "";
        font: 18px/18px "Icon";
        color: #fff;
        display: inline-block;
        vertical-align: top;
        margin-top: 1px;
        position: relative;
        z-index: 1; }
    header .head .burger {
      width: 24px;
      height: 24px;
      display: block;
      margin-left: 12.5px;
      position: relative;
      z-index: 5;
      opacity: 1;
      -webkit-transition: all 250ms ease-in-out;
      -moz-transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      -ms-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out; }
      header .head .burger:before {
        content: '';
        width: 24px;
        height: 2px;
        display: block;
        position: absolute;
        top: 7px;
        left: 0;
        background: #fff;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 350ms ease-in-out;
        -webkit-transition-delay: 0;
        -o-transition: all 350ms ease-in-out;
        -o-transition-delay: 0;
        -moz-transition: all 350ms ease-in-out;
        -moz-transition-delay: 0;
        transition: all 350ms ease-in-out;
        transition-delay: 0; }
      header .head .burger:after {
        content: '';
        width: 24px;
        height: 2px;
        display: block;
        position: absolute;
        bottom: 7px;
        left: 0;
        background: #fff;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 350ms ease-in-out;
        -webkit-transition-delay: 0;
        -o-transition: all 350ms ease-in-out;
        -o-transition-delay: 0;
        -moz-transition: all 350ms ease-in-out;
        -moz-transition-delay: 0;
        transition: all 350ms ease-in-out;
        transition-delay: 0; }
      header .head .burger.active {
        opacity: 0; }

.menu {
  height: 100%;
  position: fixed;
  background: #252f3c;
  overflow-y: scroll;
  opacity: 0;
  z-index: 31;
  -webkit-transition: all 350ms ease-in-out;
  -webkit-transition-delay: 0;
  -o-transition: all 350ms ease-in-out;
  -o-transition-delay: 0;
  -moz-transition: all 350ms ease-in-out;
  -moz-transition-delay: 0;
  transition: all 350ms ease-in-out;
  transition-delay: 0; }
  .menu_user {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2a3544; }
    .menu_user_profil {
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-right: 40px; }
      .menu_user_profil img {
        width: 40px;
        height: 40px;
        display: block;
        padding: 0;
        margin: 0 20px;
        border-radius: 100%; }
      .menu_user_profil p {
        width: 22vw;
        color: #fff;
        font: 14px/18px "Proxima Nova Regular";
        overflow: hidden; }
    .menu_user_nav {
      width: 110px;
      margin-right: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .menu_user_nav li {
        position: relative; }
        .menu_user_nav li a {
          color: #fff;
          text-decoration: none;
          position: relative; }
          .menu_user_nav li a.lang {
            font: 12px/12px "Proxima Nova Light";
            text-transform: uppercase; }
            .menu_user_nav li a.lang:after {
              content: "";
              font: 6px/0px "Icon";
              display: block;
              position: absolute;
              top: 7px;
              right: -8px;
              -moz-transform: rotate(90deg);
              -webkit-transform: rotate(90deg);
              -o-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
          .menu_user_nav li a.exit {
            margin-right: -5px; }
            .menu_user_nav li a.exit:before {
              content: "";
              font: 14px/16px "Icon"; }
          .menu_user_nav li a.close:before {
            content: "";
            font: 14px/16px "Icon"; }
        .menu_user_nav li ul {
          position: absolute;
          top: 30px;
          left: 50%;
          margin-left: -40px;
          background: #fff;
          border-radius: 2px;
          display: none;
          z-index: 1; }
          .menu_user_nav li ul li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
            .menu_user_nav li ul li a {
              color: #333;
              padding: 10px 15px 8px;
              display: block;
              font: 14px/14px "Proxima Nova Light"; }
              .menu_user_nav li ul li a.active {
                color: #75a4ba; }
            .menu_user_nav li ul li:last-child {
              border-bottom: 0; }
          .menu_user_nav li ul:before {
            content: '';
            position: absolute;
            top: -4px;
            right: 19px;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 4px 4px 4px;
            border-color: transparent transparent #fff transparent; }
  .menu_nav {
    margin-bottom: 0; }
    .menu_nav li {
      border-bottom: 1px solid #2a3544; }
      .menu_nav li a {
        color: #fff;
        height: 74px;
        font: 20px "Proxima Nova Light";
        text-decoration: none;
        white-space: nowrap;
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 0; }
        .menu_nav li a:before {
          width: 20px;
          height: 20px;
          position: relative;
          margin: 0 30px;
          z-index: 2;
          display: block;
          text-align: center; }
        .menu_nav li a.dashboard:before {
          content: "";
          font: 24px/24px "Icon"; }
        .menu_nav li a.online:before {
          content: "";
          font: 27px/25px "Icon"; }
        .menu_nav li a.competitions:before {
          content: "";
          font: 31px/27px "Icon"; }
        .menu_nav li a.track:before {
          content: "";
          font: 20px/20px "Icon"; }
        .menu_nav li a.location:before {
          content: "";
          font: 20px/18px "Icon"; }
        .menu_nav li a.suit:before {
          content: "";
          font: 20px/17px "Icon"; }
        .menu_nav li a.about:before {
          content: "";
          font: 20px/19px "Icon"; }
        .menu_nav li a.add {
          color: #5cb85c; }
          .menu_nav li a.add:before {
            content: "";
            font: 33px/38px "Icon"; }
      .menu_nav li.active a {
        color: #39c0ff; }
        .menu_nav li.active a span:before {
          color: #39c0ff; }
      .menu_nav li:last-child {
        display: none; }
  .menu.active {
    opacity: 1;
    right: 0 !important;
    -webkit-transition: all 350ms ease-in-out;
    -webkit-transition-delay: 350ms;
    -o-transition: all 350ms ease-in-out;
    -o-transition-delay: 350ms;
    -moz-transition: all 350ms ease-in-out;
    -moz-transition-delay: 350ms;
    transition: all 350ms ease-in-out;
    transition-delay: 350ms; }

.notification {
  width: 100%;
  top: 70px;
  position: fixed; }
  .notification_wrapp {
    height: 350px;
    overflow-y: scroll; }
  .notification:before {
    right: 75px; }

.section {
  width: 100%;
  position: relative;
  z-index: 2; }
  .section_item {
    padding: 20px; }
    .section_item_head_title {
      color: #333333;
      font: 16px "Proxima Nova Semibold";
      text-transform: uppercase;
      margin-bottom: 15px; }
      @media only screen and (max-width: 959px) {
        .section_item_head_title {
          margin-right: 0;
          margin-left: 0; } }
    .section_item_head_nav {
      display: flex;
      position: relative; }
      .section_item_head_nav li {
        margin-right: 10px; }
        @media only screen and (max-width: 330px) {
          .section_item_head_nav li {
            margin-right: 5px; } }
        .section_item_head_nav li a {
          color: #cccccc;
          font: 16px "Proxima Nova Semibold";
          text-decoration: none;
          text-transform: uppercase;
          position: relative; }
          .section_item_head_nav li a:after {
            content: '';
            width: 100%;
            height: 2px;
            display: block;
            background: #75a4ba;
            position: absolute;
            bottom: -2px;
            left: 0;
            opacity: 0; }
          .section_item_head_nav li a.active {
            color: #75a4ba; }
            .section_item_head_nav li a.active:after {
              opacity: 1; }
        .section_item_head_nav li:last-child {
          margin-right: 0; }
      .section_item_head_nav:before {
        content: '';
        width: 35px;
        height: 20px;
        display: block;
        position: absolute;
        top: 0;
        left: -35px;
        background: -moz-linear-gradient(left, rgba(248, 248, 248, 0) 0%, #f8f8f8 50%, #f8f8f8 100%);
        background: -webkit-linear-gradient(left, rgba(248, 248, 248, 0) 0%, #f8f8f8 50%, #f8f8f8 100%);
        background: linear-gradient(to right, rgba(248, 248, 248, 0) 0%, #f8f8f8 50%, #f8f8f8 100%); }
    .section_item_head_location {
      color: #333333;
      font: 12px/12px "Proxima Nova Regular";
      margin-bottom: 0px; }
      .section_item_head_location span {
        color: #75a4ba;
        text-transform: uppercase; }
        .section_item_head_location span:before {
          content: '//';
          color: #cccccc; }
      .section_item_head_location:before {
        content: "";
        font: 10px "Icon";
        color: #999999; }
    .section_item_head_window {
      color: #333333;
      font: 12px/12px "Proxima Nova Regular";
      margin: 9px 0 20px; }
      .section_item_head_window span {
        color: #999999; }
    .section_item_head.nav {
      display: flex;
      justify-content: space-between; }
    .section_item_head.center {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }

.event {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: hidden; }
  .event .main_item {
    display: flex;
    border: 1px solid #efefef;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    background: #fff; }
    .event .main_item_sidebar {
      width: 41px;
      margin-right: 20px; }
      .event .main_item_sidebar_date {
        width: 47px;
        height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        color: #fff;
        margin: 20px 0 0 -5px;
        background: #39c0ff;
        font: 16px/14px "Proxima Nova Light"; }
        .event .main_item_sidebar_date span {
          font-size: 10px;
          margin-bottom: -3px; }
        .event .main_item_sidebar_date:before {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 4px 4px;
          border-color: transparent transparent #007bff transparent;
          position: absolute;
          top: -4px;
          left: 0; }
      .event .main_item_sidebar_label {
        width: 40px;
        height: 15px;
        color: #999999;
        font: 10px/16px "Proxima Nova Light";
        text-align: center;
        border-left: 2px solid #999999;
        margin: 5px 0 0 -1px;
        background: #f8f8f8; }
        .event .main_item_sidebar_label.red {
          color: #ff7e7e;
          border-color: #ff7e7e;
          background: rgba(255, 126, 126, 0.1); }
        .event .main_item_sidebar_label.blue {
          color: #75a4ba;
          border-color: #75a4ba;
          background: rgba(117, 164, 186, 0.1); }
        .event .main_item_sidebar_label.aqua {
          color: #00a7ff;
          border-color: #00a7ff;
          background: rgba(0, 167, 255, 0.1); }
        .event .main_item_sidebar_label.green {
          color: #5cb85c;
          border-color: #5cb85c;
          background: rgba(92, 184, 92, 0.1); }
        .event .main_item_sidebar_label.orange {
          color: #df8250;
          border-color: #df8250;
          background: rgba(223, 130, 80, 0.1); }
        .event .main_item_sidebar_label.dark {
          color: #333333;
          border-color: #333333;
          background: rgba(51, 51, 51, 0.1); }
    .event .main_item_content {
      width: calc(100% - 80px); }
      .event .main_item_content_title {
        color: #75a4ba;
        font: 20px/26px "Proxima Nova Regular";
        margin: 15px 0 11px; }
      .event .main_item_content_location {
        color: #333333;
        font: 12px/12px "Proxima Nova Regular";
        margin-bottom: 9px; }
        .event .main_item_content_location span {
          color: #75a4ba;
          text-transform: uppercase; }
          .event .main_item_content_location span:before {
            content: '//';
            color: #cccccc; }
        .event .main_item_content_location:before {
          content: "";
          font: 10px "Icon";
          color: #999999; }
      .event .main_item_content_class {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding-left: 12px; }
        .event .main_item_content_class p {
          width: auto;
          color: #333333;
          font: 12px/16px "Proxima Nova Regular"; }
          .event .main_item_content_class p span {
            color: #75a4ba; }
          .event .main_item_content_class p:after {
            content: '//';
            color: #cccccc;
            margin-right: 5px; }
          .event .main_item_content_class p:first-letter {
            text-transform: uppercase; }
          .event .main_item_content_class p:last-child:after {
            display: none; }
        .event .main_item_content_class:before {
          content: "";
          font: 10px "Icon";
          color: #999999;
          position: absolute;
          top: 2px;
          left: -2px; }
      .event .main_item_content_rules {
        color: #333333;
        font: 12px/12px "Proxima Nova Regular"; }
        .event .main_item_content_rules span {
          color: #999999; }
      .event .main_item_content_window {
        color: #333333;
        font: 12px/12px "Proxima Nova Regular";
        margin-top: 9px; }
        .event .main_item_content_window span {
          color: #999999; }
      .event .main_item_content hr {
        border: 0;
        border-top: 1px solid #eee;
        margin: 12px 0 16px; }
    .event .main_item.online .main_item_sidebar_date {
      background: #5cb85c; }
      .event .main_item.online .main_item_sidebar_date:before {
        border-color: transparent transparent #489148 transparent; }
    .event .main_item:last-child {
      margin-bottom: 0; }

.event {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: hidden; }
  .event .page_pilot {
    color: #333333;
    display: flex;
    flex-direction: column;
    border: 1px solid #efefef;
    padding: 20px 20px 13px;
    margin-bottom: 20px;
    text-decoration: none;
    position: relative;
    background: #fff; }
    .event .page_pilot_name {
      font: 18px/18px "Proxima Nova Regular";
      margin-bottom: 5px; }
      .event .page_pilot_name span {
        color: #75a4ba;
        font-size: 13px;
        text-transform: uppercase; }
        .event .page_pilot_name span:before {
          content: '//';
          color: #cccccc; }
    .event .page_pilot_suit {
      position: relative; }
      .event .page_pilot_suit p {
        color: #333333;
        padding-left: 12px;
        font: 12px/16px "Proxima Nova Regular"; }
        .event .page_pilot_suit p span {
          color: #75a4ba; }
        .event .page_pilot_suit p:first-letter {
          text-transform: uppercase; }
        .event .page_pilot_suit p:last-child:after {
          display: none; }
      .event .page_pilot_suit:before {
        content: "";
        font: 10px "Icon";
        color: #999999;
        position: absolute;
        top: 2px;
        left: -2px; }
    .event .page_pilot_st {
      color: #dcdcdc;
      font: 57px/57px "Proxima Nova Light";
      position: absolute;
      top: 12px;
      right: 15px; }
      .event .page_pilot_st:before {
        content: '#';
        font: 34px/34px "Proxima Nova Regular"; }
    .event .page_pilot_result {
      margin-top: 18px; }
      .event .page_pilot_result_title {
        font: 14px/14px "Proxima Nova Semibold";
        text-transform: uppercase;
        text-align: center;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 9px 0 7px; }
      .event .page_pilot_result table {
        width: 100%; }
        .event .page_pilot_result table thead tr th {
          width: 33.3%;
          font: 12px/12px "Proxima Nova Semibold";
          text-align: center;
          border-bottom: 1px solid #eee;
          padding: 7px 0; }
        .event .page_pilot_result table tbody tr td {
          width: 33.3%;
          font: 12px/12px "Proxima Nova Regular";
          text-align: center;
          padding: 7px 0 7px; }
          .event .page_pilot_result table tbody tr td.best {
            color: #5cb85c; }
        .event .page_pilot_result table tbody tr:first-child td {
          padding-bottom: 0; }
        .event .page_pilot_result table tbody tr:last-child td {
          color: #999999; }
    .event .page_pilot:last-child {
      margin-bottom: 0; }
  .event .page_result {
    color: #333333;
    border: 1px solid #efefef;
    padding: 0;
    margin-bottom: 0;
    position: relative;
    background: #fff; }
    .event .page_result_wrapp {
      overflow: hidden;
      overflow-x: scroll;
      position: relative;
      z-index: 1; }
      .event .page_result_wrapp table {
        width: 100%;
        margin-right: 20px;
        border-collapse: collapse; }
        .event .page_result_wrapp table tbody tr td {
          white-space: nowrap;
          font: 12px/12px "Proxima Nova Regular";
          padding: 10px;
          border: 1px solid #eee; }
          .event .page_result_wrapp table tbody tr td a {
            color: #5c8293;
            text-decoration: none; }
            .event .page_result_wrapp table tbody tr td a.best {
              color: #5cb85c; }
          .event .page_result_wrapp table tbody tr td.title {
            font-family: "Proxima Nova Semibold";
            text-transform: uppercase; }
          .event .page_result_wrapp table tbody tr td.head {
            font-family: "Proxima Nova Semibold"; }
          .event .page_result_wrapp table tbody tr td.center {
            text-align: center; }
          .event .page_result_wrapp table tbody tr td.right {
            text-align: right; }
          .event .page_result_wrapp table tbody tr td.gray {
            color: #999999; }
          .event .page_result_wrapp table tbody tr td.no_brd_top {
            border-top: 0; }
          .event .page_result_wrapp table tbody tr td.no_brd_right {
            border-right: 0; }
          .event .page_result_wrapp table tbody tr td.no_brd_bottom {
            border-bottom: 0; }
          .event .page_result_wrapp table tbody tr td.no_brd_left {
            border-left: 0; }

.event .section {
  margin-top: 71px; }

.profil {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: hidden; }

.profil .section_header {
  width: 100%;
  height: 60px;
  position: relative;
  margin-top: 70px;
  padding: 0;
  background: #fff;
  border-bottom: 1px solid #efefef; }
  .profil .section_header_nav {
    display: flex;
    align-items: center;
    margin-top: 19px;
    position: relative;
    z-index: 1; }
    .profil .section_header_nav li {
      width: auto;
      padding: 0 10px 0 20px;
      position: relative;
      z-index: 1; }
      .profil .section_header_nav li a {
        color: #333333;
        font: 22px/22px "Proxima Nova Regular";
        display: flex;
        align-items: center;
        text-decoration: none;
        position: relative;
        white-space: nowrap; }
      .profil .section_header_nav li.active a {
        color: #75a4ba; }
      .profil .section_header_nav li:last-child {
        padding-right: 20px;
        margin-right: 0; }
  .profil .section_header_wrapp {
    width: 100%;
    overflow-x: scroll; }
    .profil .section_header_wrapp::-webkit-scrollbar {
      width: 0; }
  .profil .section_header:before {
    content: '';
    width: 20px;
    height: 60px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: -moz-linear-gradient(left, white 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, white 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, white 0%, white 50%, rgba(255, 255, 255, 0) 100%); }
  .profil .section_header:after {
    content: '';
    width: 20px;
    height: 60px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: #f00;
    z-index: 2;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%, white 100%); }

.profil .section .track {
  border: 1px solid #efefef;
  padding: 13px 10px 10px;
  margin-bottom: 20px;
  background: #fff; }
  .profil .section .track:last-child {
    margin-bottom: -4px; }
  .profil .section .track_info {
    display: flex;
    justify-content: space-between;
    color: #999999;
    font: 14px/14px "Proxima Nova Light";
    padding-bottom: 7px; }
  .profil .section .track_pilot {
    display: flex;
    align-items: center; }
    .profil .section .track_pilot_user {
      color: #333333;
      font: 22px "Proxima Nova Regular";
      overflow: hidden;
      white-space: nowrap; }
    .profil .section .track_pilot_country {
      color: #75a4ba;
      font: 16px "Proxima Nova Regular";
      text-transform: uppercase;
      margin-top: 2px; }
      .profil .section .track_pilot_country:before {
        content: '//';
        color: #cccccc;
        font: 16px "Proxima Nova Semibold";
        letter-spacing: -1.5px;
        padding: 0 5px; }
  .profil .section .track_wrapp {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 5px; }
    .profil .section .track_wrapp_location {
      display: flex; }
      .profil .section .track_wrapp_location_name {
        color: #333333;
        font: 14px/18px "Proxima Nova Regular";
        overflow: hidden;
        white-space: nowrap; }
      .profil .section .track_wrapp_location_country {
        color: #75a4ba;
        font: 11px "Proxima Nova Regular";
        margin-top: 3px; }
        .profil .section .track_wrapp_location_country:before {
          content: '//';
          color: #cccccc;
          font: 11px "Proxima Nova Semibold";
          letter-spacing: -1.5px;
          padding: 0 5px; }
    .profil .section .track_wrapp_suit {
      width: 40vw;
      color: #333333;
      font: 14px "Proxima Nova Regular";
      text-align: right;
      margin-left: 20px;
      overflow: hidden;
      white-space: nowrap; }
      .profil .section .track_wrapp_suit span {
        color: #cccccc; }
  .profil .section .track_comments {
    color: #999999;
    font: 12px "Proxima Nova Light Italic"; }
