.profil {

	.section {
		width: calc(100% - 255px);
		@include transition-delay(all 350ms ease-in-out, 0);

		@include respond-to(laptop) {
			width: calc(100% - 80px);
		}

		@include respond-to(desktop) {
			width: calc(100% - 255px);
		}

		&_header {
			height: 70px;
			background: #fff;
			border-bottom: 1px solid $border;
		}

		&_item {
			padding: $_30;

			&_head {

				&_title {
					color: $text;
					font: 16px $pn-sb;
					text-transform: uppercase;
					margin-bottom: 15px;
				}
			}
		}
	}
}
