$blue: 				  #75a4ba;
$blue-light: 	  #8fc8e3;
$blue-dark: 	  #5c8293;
$blue-hover: 	  #39c0ff;

$aqua:          #00a7ff;

$green: 			  #5cb85c;
$green-light:   #6cd86c;
$green-dark: 	  #458a45;

$red: 				  #ff6666;
$red-light: 	  #ff9090;
$red-dark: 		  #be4c4c;

$gold: 				  #ffcc00;
$gold-light: 	  #ffe57c;
$gold-dark: 	  #e1b400;

$silver: 			  #dfdfdf;
$silver-light:  #eaeaea;
$silver-dark:   #c6c6c6;

$bronze: 			  #df8250;
$bronze-light:  #ffaa72;
$bronze-dark:   #c87548;

$orange: 			  #ffa21d;
$orange-beer:   #ff9103;

$gray-light: 	  #cccccc;
$gray:          #999999;


$text: 				  #333333;
$bg: 					  #f8f8f8;
$border: 			  #efefef;
$sidebar: 		  #252f3c;
$sidebar-light: #2a3544;

$tr:            transparent;

$fb: #3c5a98;
$vk: #48729e;
$tw: #00aced;
$in: #9d7144;
$wa: #88bb4b;
