.section_header
  %ul.section_header_nav
    %li.active
      %a{:href => "profilMain.html"}
        Общее
    %li
      %a{:href => "#"}
        Треки
    %li
      %a{:href => "#"}
        Профиль полетов
    %li
      %a{:href => "#"}
        Видео
  .section_header_user
    %a.add{:href => "#"}
      %span
        Загрузить трек
    .notify
      %span.icon.new
      .notification
        .notification_title
          Новые уведомления
        .notification_wrapp
          .notification_wrapp_item.new
            .notification_wrapp_item_img
              %img{:src => "../static/images/avatar/skyderby.png"}/
              %span.label.rss.orange
            .notification_wrapp_item_content
              %p
                %a.name{:href => "#"} Skyderby
                новости сайта
                %a{:href => "#"} «На странице трэка появилась возможность...»
              .notification_wrapp_item_content_date только что
          .notification_wrapp_item
            .notification_wrapp_item_img
              %img{:src => "../static/images/avatar/skyderby.png"}/
              %span.label.star.red
            .notification_wrapp_item_content
              %p
                %a.name{:href => "#"} Skyderby
                пилот
                %a{:href => "#"} «Александр Кунин»
                обошел вас в категории
                %a{:href => '#'} «Monosuit Time»
              .notification_wrapp_item_content_date час назад
          .notification_wrapp_item
            .notification_wrapp_item_img
              %img{:src => "../static/images/avatar/airglide.png"}/
              %span.label.plus.green
            .notification_wrapp_item_content
              %p
                %a.name{:href => "#"} Airglide
                создал новое соревнование
                %a{:href => "#"} «Airglide Competition 2018»
              .notification_wrapp_item_content_date 3 часа назад
          .notification_wrapp_item.cup
            .notification_wrapp_item_img
              %img{:src => "../static/images/avatar/cup_gold.png"}/
            .notification_wrapp_item_content
              %p
                %span.name Поздравляем!
                вы заняли первое место на
                %a{:href => "#"} «BWS Cup 2017»
              .notification_wrapp_item_content_date сегодня в 12:37
          .notification_wrapp_item
            .notification_wrapp_item_img
              %img{:src => "../static/images/avatar/phoenix-fly.png"}/
              %span.label.plus.green
            .notification_wrapp_item_content
              %p
                %a.name{:href => "#"} Phoenix-fly
                добавил новый костюм
                %a{:href => "#"} «Onesie»
              .notification_wrapp_item_content_date вчера в 14:35
          .notification_wrapp_item
            .notification_wrapp_item_img
              %img{:src => "../static/images/avatar/skyderby.png"}/
              %span.label.location.aqua
            .notification_wrapp_item_content
              %p
                %a.name{:href => "#"} Skyderby
                добавил новую дропзону
                %a{:href => "#"} «DZ Крутицы»
              .notification_wrapp_item_content_date 6 дек в 19:51

    .user
