.section_header
  %ul.section_header_nav
    %li.active
      %a{:href => "#"}
        Общее
    %li
      %a{:href => "#"}
        Треки
    %li
      %a{:href => "#"}
        Профиль полетов
    %li
      %a{:href => "#"}
        Видео
  .section_header_user
    %a.add{:href => "#"}
      %span
        Загрузить трек
    .notify
      %span.icon.new
    .user
