.section_item
  .section_item_head
    .section_item_head_title Достижения

  .progress.gold
    .progress_icon
    .progress_text
      BWS Cup 2017
      %span Tracksuit
    .progress_top
    .progress_bottom

  .progress.silver
    .progress_icon
    .progress_text
      Borki GPS Performance 2014
      %span Intermediate
    .progress_top
    .progress_bottom

  .progress.bronze
    .progress_icon
    .progress_text
      Russian CFO Championship 2017
      %span Advanced
    .progress_top
    .progress_bottom

  .progress.legend.one
    .progress_icon
    .progress_text Легенда
    .progress_top
    .progress_bottom

  .progress.skyderby
    .progress_icon
    .progress_text
      SKYDERBY
      %span CEO
    .progress_top
    .progress_bottom

  .progress.donate
    .progress_icon
    .progress_text
      DONATE
      %span 200$
    .progress_top
    .progress_bottom

  .progress.gold.online
    .progress_icon
    .progress_text
      Monotrack Speed Challenge
      %span Tracksuit
    .progress_top
    .progress_bottom

  .progress.silver.online
    .progress_icon
    .progress_text
      Monotrack Distance Challenge
      %span Tracksuit
    .progress_top
    .progress_bottom

  .progress.bronze.online
    .progress_icon
    .progress_text
      Monotracks Open 60 sec
      %span Tracksuit
    .progress_top
    .progress_bottom
