footer {

  @include respond-to(mobile) {
    width: 100%;
    color: $text;
    display: block;
    font: 12px/12px $pn-l;
    margin-bottom: 20px;
  }

  @include respond-to(laptop) {
    width: 80px;
    color: #fff;
    flex: 0 1 auto;
    font: 10px/10px $pn-l;
    margin-left: 175px;
    text-align: center;
    margin-bottom: 10px;
  }

  @include respond-to(desktop) {
    width: 100%;
    color: #fff;
    flex: 0 1 auto;
    font: 12px/12px $pn-l;
    margin-left: 0;
    margin-bottom: 10px;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {

      &:before {
        content: $icon-heart;
        font: 8px $icon;
        color: #ff9191;
        margin: 0 3px;
      }
    }

    &:first-child {
      padding-bottom: 2px;
    }

    &:last-child {

      @include respond-to(laptop) {
        display: none;
      }

      @include respond-to(desktop) {
        display: flex;
      }
    }
  }
}
