.notification {
  position: absolute;
  box-sizing: border-box;
  display: none;
  background: #fff;
  box-shadow: 1px 0 25px 0 rgba(0,0,0,.15);
  z-index: 3;

  &_title {
    height: 52px;
    font: 16px/16px $pn-r;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid $border;
  }

  &_wrapp {

    &_item {
      display: flex;
      padding: 20px 20px 17px;
      border-bottom: 1px solid $border;
      overflow-y: scroll;

      &_img {
        width: 41px;
        height: 41px;
        position: relative;
        margin-right: 20px;

        img {
          width: 41px;
          height: 41px;
          border-radius: 100%;
          position: relative;
          z-index: 1;
        }

        span {

          &.label {
            width: 16px;
            height: 16px;
            display: block;
            text-align: center;
            border-radius: 100%;
            border: 2px solid #fff;
            position: absolute;
            bottom: -4px; right: -4px;
            background: $border;
            z-index: 2;
          }

          &.rss {

            &:before {
              content: $icon-feed;
              font: 10px/0px $icon;
              margin-top: 9px;
            }
          }

          &.star {

            &:before {
              content: $icon-star;
              font: 11px/0px $icon;
              margin-top: 9.5px;
            }
          }

          &.location {

            &:before {
              content: $icon-location;
              font: 9px/0px $icon;
              margin-top: 8.5px;
            }
          }

          &.plus {

            &:before {
              content: '+';
              font: 15px/0px $pn-b;
              margin-top: 9px;
            }
          }

          &.orange {
            background: $orange;
          }

          &.red {
            background: $red;
          }

          &.green {
            background: $green;
          }

          &.blue {
            background: $blue;
          }

          &.aqua {
            background: $aqua;
          }

          &:before {
            color: #fff;
            display: inline-block;
            vertical-align: top;
          }
        }
      }

      &_content {

        p {
          color: #666;
          font: 14px/18px $pn-r;
          margin-top: -3px;

          a {
            color: $blue;
            text-decoration: none;
            @include transition;

            @include respond-to(laptop) {
              &:hover {
                color: $blue-light;
              }
            }

            &.name {
              font-family: $pn-sb;
              text-transform: uppercase;
            }
          }

          span {
            color: $blue;
            cursor: default;

            &.name {
              font-family: $pn-sb;
              text-transform: uppercase;
            }
          }
        }

        &_date {
          color: #999;
          font: 12px/12px $pn-r;
          margin-top: 4px;
        }
      }

      &.new {
        background: #f7fafb;
      }

      &.cup {
        background: #fffcf3;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -7px; right: 0;
  }

  &:after {
    content: '';
    width: 100%;
    height: 15px;
    display: block;
    position: absolute;
    bottom: -1px;
    background: #f00;
    z-index: 2;
    @include gradient-vertical(rgba(255,255,255,0), rgba(255,255,255,1));
  }
}
