.on-line {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	overflow-x: hidden;

	.main {

		&_title {
			color: $text;
			font: 16px $pn-sb;
			text-align: center;
			text-transform: uppercase;
			margin: 26px 0;
		}

		&_item {
			display: flex;
			flex-direction: column;
			border: 1px solid $border;
			padding-bottom: 20px;
			margin-bottom: 20px;
			text-decoration: none;
			background: #fff;

			&_head {
				width: calc(100% - 30px);
				margin: 0 auto 10px;
				padding-bottom: 20px;
				border-bottom: 1px solid #eee;

				&_title {
					color: $blue;
					font: 20px/26px $pn-r;
					margin: 15px 0 11px;
					text-align: center;
				}

				&_class {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;

					p {
						width: auto;
						color: $text;
						position: relative;
						font: 12px/16px $pn-r;

						span {
							color: $blue;
						}

						&:after {
							content: '//';
							color: $gray-light;
							margin-right: 5px;
						}

						&:first-letter {
							text-transform: uppercase;
						}

						&:first-child {

							&:before {
								content: $icon-location;
								font: 10px $icon;
								color: $gray;
							}
						}

						&:last-child {

							&:before {
								content: $icon-wingsuit;
								font: 10px $icon;
								color: $gray;
							}

							&:after {
								display: none;
							}
						}
					}
				}

				&_window {
					color: $text;
					font: 12px/12px $pn-r;
					margin-top: 7px;
					text-align: center;

					span {
						color: $gray;
					}
				}
			}

			&_round {
				margin: 0 10px;

				&__item {
					display: flex;
  				flex-direction: column;
					padding-bottom: 16px;
					margin-bottom: 8px;
					border-bottom: 1px solid #eee;

					&_title {
						color: $text;
						font: 14px/14px $pn-sb;
						text-transform: uppercase;
						text-align: center;
						padding: 9px 0 20px;
					}

					&_wrapp {
						display: flex;
  					justify-content: space-between;

						&_item {
							width: 30%;
							display: flex;
							flex-direction: column;
							align-items: center;

							&__img {
								width: 50px;
								height: 50px;
								border-radius: 100%;
								margin-bottom: 5px;
								position: relative;
								box-shadow: 0 0 20px 0 #fff;

								img {
									max-width: 100%;
									border-radius: 100%;
									position: relative;
									z-index: 1;
								}

								&:before {
									content: '';
									width: 44px;
									height: 44px;
									display: block;
									position: absolute;
									top: -1px; left: -1px;
									border-radius: 100%;
									border: 4px solid #f00;
									z-index: 2;
								}
							}

							&__name {
								color: $text;
								font: 12px/12px $pn-r;
								text-align: center;
								margin: 5px 0;
								word-spacing: 60px;
							}

							&__result {
								color: #999;
								font: 16px/18px $pn-r;
							}

							&:nth-of-type(1) {

								.main_item_round__item_wrapp_item__img {

									&:before {
										border-color: $gold;
									}
								}
							}

							&:nth-of-type(2) {

								.main_item_round__item_wrapp_item__img {

									&:before {
										border-color: $silver-dark;
									}
								}
							}

							&:nth-of-type(3) {

								.main_item_round__item_wrapp_item__img {

									&:before {
										border-color: $bronze;
									}
								}
							}
						}
					}

					&:last-child {
						border-bottom: 0;
						padding-bottom: 0;
						margin-bottom: 0;
					}
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
