%header
  .head
    %a{:href => 'index.html'}
      %span
        SkyDerby
    .head-nav
      %a.notification.active{:href => 'javascript:void(0);'}
      %a.burger{:href => 'javascript:void(0);'}

.page-overlay
.menu
  .menu-user
    %a.menu-user-profil{:href => '#'}
      %img{:src => "../static/images/avatar.png"}/
      %p Александр Жариков
    %ul.menu-user-nav
      %li
        %a.lang{:href => '#'}
          rus
      %li
        %a.exit{:href => '#'}
      %li
        %a.close{:href => '#'}

  %ul.menu_nav
    %li.active
      %a.dashboard{:href => 'profilMain.html'}
        Dashboard
    %li
      %a.online{:href => '#'}
        Онлайн соревнования
    %li
      %a.competitions{:href => '#'}
        Соревнования
    %li
      %a.track{:href => '#'}
        Треки
    %li
      %a.location{:href => '#'}
        Локации
    %li
      %a.suit{:href => '#'}
        Костюмы
    %li
      %a.about{:href => '#'}
        О проекте
    %li
      %a.add{:href => 'javascript:void(0);'}
        Загрузить трек
