%header
  .head
    %a{:href => 'index.html'}
      %span
        SkyDerby
    .head_nav
      %a.notif.active{:href => 'javascript:void(0);'}
      %a.burger{:href => 'javascript:void(0);'}

.page_overlay
.menu
  .menu_user
    -# %a.menu_user_profil{:href => '#'}
    -#   %img{:src => "../static/images/avatar/user.png"}/
    -#   %p Александр Жариков
    %a.menu_user_enter.button.blue{:href => '#'} Войти
    %ul.menu_user_nav
      %li
        %a.lang{:href => '#'}
          rus
        %ul
          %li
            %a.active{"data-lang" => "rus", :href => 'javascript:void(0);'}
              Russian
          %li
            %a{"data-lang" => "eng", :href => 'javascript:void(0);'}
              English
          %li
            %a{"data-lang" => "det", :href => 'javascript:void(0);'}
              Deutsch
          %li
            %a{"data-lang" => "spa", :href => 'javascript:void(0);'}
              Spainish
      -# %li
      -#   %a.exit{:href => '#'}
      %li
        %a.close{:href => '#'}

  %ul.menu_nav
    %li.active
      %a.dashboard{:href => 'profilMain.html'}
        Dashboard
    %li
      %a.online{:href => '#'}
        Онлайн соревнования
    %li
      %a.competitions{:href => 'eventMain.html'}
        Соревнования
    %li
      %a.track{:href => '#'}
        Треки
    %li
      %a.location{:href => '#'}
        Локации
    %li
      %a.suit{:href => '#'}
        Костюмы
    %li
      %a.about{:href => '#'}
        О проекте
    %li
      %a.add{:href => 'javascript:void(0);'}
        Загрузить трек
  %a.menu_registration.button.green{:href => '#'} Зарегистрироваться
