.profil {

	.section {

		&_header {
			width: 100%;
			height: 60px;
			position: relative;
			margin-top: 70px;
			padding: 0;
			background: #fff;
			border-bottom: 1px solid $border;

			&_nav {
				display: flex;
				align-items: center;
				margin-top: 19px;
				position: relative;
				z-index: 1;

				li {
					width: auto;
					padding: 0 10px 0 20px;
					position: relative;
					z-index: 1;

					a {
						color: $text;
						font: 22px/22px $pn-r;
						display: flex;
						align-items: center;
						text-decoration: none;
						position: relative;
						white-space: nowrap;
					}

					&.active {

						a {
							color: $blue;
						}
					}

					&:last-child {
						padding-right: 20px;
						margin-right: 0;
					}
				}
			}

			&_wrapp {
				width: 100%;
				overflow-x: scroll;
				&::-webkit-scrollbar {width: 0;}
			}

			&:before {
				content: '';
				width: 20px;
				height: 60px;
				display: block;
				position: absolute;
				top: 0; left: 0;
				z-index: 2;
				@include gradient-horizontal-3dot(rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));

			}

			&:after {
				content: '';
				width: 20px;
				height: 60px;
				display: block;
				position: absolute;
				top: 0; right: 0;
				background: #f00;
				z-index: 2;
				@include gradient-horizontal-3dot(rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1));

			}
		}
	}
}
