.profil {

	.section {
		width: 100%;

		&_item {
			padding: $_20;

			&_head {

				&_title {
					color: $text;
					font: 16px $pn-sb;
					text-transform: uppercase;
					margin-bottom: 15px;
				}
			}
		}
	}
}
