.section_item
  .section_item_head.nav
    .section_item_head_title Соревнования
    %ul.section_item_head_nav
      %li
        %a{:href => '#'}
          All
      %li
        %a.active{:href => '#'}
          Skydive
      %li
        %a{:href => '#'}
          BASE

  .main
    %a.main_item.online{:href => 'eventPage.html'}
      .main_item_sidebar
        .main_item_sidebar_date
          25
          %span Feb`18
          -# Цвет для `label` задается дополнительными классами: red, blue, aqua, green, orange, dark.
          -# Если у `label` не указа цветовой класс, то он будет серый.
        .main_item_sidebar_label.red
          official
      .main_item_content
        .main_item_content_title
          5th Annual Tony Suits PerformanceCup
        .main_item_content_location
          Skydive City/Z-Hills
          %span
            usa
        .main_item_content_class
          %p
            Open –
            %span
              18
          %p
            Intermediate –
            %span
              2
        %hr
        .main_item_content_rules
          Rules:
          %span
            Speed, distance, time
        .main_item_content_window
          Competition window:
          %span
            3000 – 2000 m

    %a.main_item{:href => 'eventPage.html'}
      .main_item_sidebar
        .main_item_sidebar_date
          08
          %span Sep`17
      .main_item_content
        .main_item_content_title
          2. Slovenian national Wingsuit competition
        .main_item_content_location
          DZ Murska Sobota
          %span
            slo
        .main_item_content_class
          %p
            National –
            %span
              6
        %hr
        .main_item_content_rules
          Rules:
          %span
            Speed, distance, time
        .main_item_content_window
          Competition window:
          %span
            3000 – 2000 m

    %a.main_item{:href => 'eventPage.html'}
      .main_item_sidebar
        .main_item_sidebar_date
          29
          %span Jul`16
      .main_item_content
        .main_item_content_title
          Hungarian Wingsuit National-2016
        .main_item_content_location
          DZ Kaposvar
          %span
            hun
        .main_item_content_class
          %p
            SAME SUIT FOR ALL (Intrudair Piranha) –
            %span
              17
        %hr
        .main_item_content_rules
          Rules:
          %span
            Speed, distance, time
        .main_item_content_window
          Competition window:
          %span
            3000 – 2000 m

    %a.main_item{:href => 'eventPage.html'}
      .main_item_sidebar
        .main_item_sidebar_date
          23
          %span Jul`16
      .main_item_content
        .main_item_content_title
          X. WINGSUIT BOOGIE HUNGARY
        .main_item_content_location
          DZ Kaposvar
          %span
            hun
        .main_item_content_class
          %p
            Open –
            %span
              18
          %p
            Intermediate –
            %span
              2
          %p
            Tracking –
            %span
              12
          %p
            Naked Tracking –
            %span
              26
          %p
            Wingsuit Rodeo –
            %span
              5
        %hr
        .main_item_content_rules
          Rules:
          %span
            Speed, distance, time
        .main_item_content_window
          Competition window:
          %span
            3000 – 2000 m

    %a.main_item{:href => 'eventPage.html'}
      .main_item_sidebar
        .main_item_sidebar_date
          07
          %span Jul`16
        .main_item_sidebar_label.red
          official
      .main_item_content
        .main_item_content_title
          World BASE Race 2016 Hellesylt
        .main_item_content_location
          Hellesylt
          %span
            nor
        .main_item_content_class
          %p
            Open –
            %span
              18
        %hr
        .main_item_content_rules
          Rules:
          %span
            Single eliminatiion
