header {
  width: 100%;
  height: 70px;
  overflow: hidden;
  position: fixed;
  background: $sidebar;
  @include transition-delay(all 500ms ease-in-out, 0);

  .head {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 $_25 0 $_20;
    background: $sidebar-light;

    &-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    a {
      color: #fff;
      font: 25px $pn-l;
      letter-spacing: .05em;
      text-transform: uppercase;
      text-decoration: none;
      display: flex;
      align-items: center;
      flex-direction: row;
      position: relative;
      z-index: 1;

      span {
        opacity: 1;
      }

      &:before {
        content: $icon-skyderby;
        color: #fff;
        font: 38px $icon;
        margin: 0 15px 0 0;
      }
    }

    .notification {
      width: 15px;
      height: 17px;
      margin-right: 12.5px;
      display: block;
      position: relative;

      &.active {

        &:before {
          display: block;
        }
      }

      &:before {
        content: '';
        width: 4px;
        height: 4px;
        display: none;
        border-radius: 10px;
        border: 2px solid $sidebar;
        background: $blue;
        position: absolute;
        top: 0px; right: -1px;
        margin: 0 !important;
        z-index: 2;
      }

      &:after {
        content: $icon-notification;
        font: 18px/18px $icon;
        color: #fff;
        display: inline-block;
        vertical-align: top;
        margin-top: 1px;
        position: relative;
        z-index: 1;
      }
    }

    .burger {
      width: 24px;
      height: 24px;
      display: block;
      margin-left: 12.5px;
      position: relative;
      z-index: 5;
      opacity: 1;
      @include transition

      &:before {
        content: '';
        width: 24px;
        height: 2px;
        display: block;
        position: absolute;
        top: 7px; left: 0;
        background: #fff;
        @include transform(rotate(0deg));
        @include transition-delay(all 350ms ease-in-out, 0);
      }

      &:after {
        content: '';
        width: 24px;
        height: 2px;
        display: block;
        position: absolute;
        bottom: 7px; left: 0;
        background: #fff;
        @include transform(rotate(0deg));
        @include transition-delay(all 350ms ease-in-out, 0);
      }

      &.active {
        opacity: 0;
      }
    }
  }
}

.menu {
  height: 100%;
  position: fixed;
  background: $sidebar;
  overflow-y: scroll;
  opacity: 0;
  z-index: 31;
  @include transition-delay(all 350ms ease-in-out, 0);

  &-user {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $sidebar-light;

    &-profil {
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-right: 40px;

      img {
        width: 40px;
        height: 40px;
        display: block;
        padding: 0;
        margin: 0 20px;
        border-radius: 100%;
      }

      p {
        width: 22vw;
        color: #fff;
        font: 14px/18px $pn-r;
        overflow: hidden;
      }
    }

    &-nav {
      width: 110px;
      margin-right: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {

        a {
          color: #fff;
          text-decoration: none;
          position: relative;

          &.lang {
            font: 12px/12px $pn-l;
            text-transform: uppercase;

            &:after {
              content: $icon-arrow-light;
              font: 6px/0px $icon;
              display: block;
              position: absolute;
              top: 7px; right: -8px;
              @include transform(rotate(90deg));
            }
          }

          &.exit {
            margin-right: -5px;

            &:before {
              content: $icon-logout;
              font: 14px/16px $icon;
            }
          }

          &.close {

            &:before {
              content: $icon-remove;
              font: 14px/16px $icon;
            }
          }
        }
      }
    }
  }

  &_nav {
    margin-bottom: 0;

    li {
      border-bottom: 1px solid $sidebar-light;

      a {
        color: #fff;
        height: 74px;
        font: 20px $pn-l;
        text-decoration: none;
        white-space: nowrap;
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 0;

        &:before {
          width: 20px;
          height: 20px;
          position: relative;
          margin: 0 $_30;
          z-index: 2;
          display: block;
          text-align: center;
        }

        &.dashboard {

          &:before {
            content: $icon-dashboard;
            font: 24px/24px $icon;
          }
        }

        &.online {

          &:before {
            content: $icon-star;
            font: 27px/25px $icon;
          }
        }

        &.competitions {

          &:before {
            content: $icon-cup;
            font: 31px/27px $icon;
          }
        }

        &.track {

          &:before {
            content: $icon-track;
            font: 20px/20px $icon;
          }
        }

        &.location {

          &:before {
            content: $icon-location;
            font: 20px/18px $icon;
          }
        }

        &.suit {

          &:before {
            content: $icon-wingsuit;
            font: 20px/17px $icon;
          }
        }

        &.about {

          &:before {
            content: $icon-about;
            font: 20px/19px $icon;
          }
        }

        &.add {
          color: $green;

          &:before {
            content: $icon-add;
            font: 33px/38px $icon;
          }
        }
      }

      &.active {

        a {
          color: $blue-hover;

          span {

            &:before {
              color: $blue-hover;
            }
          }
        }
      }

      &:last-child {
        display: none;
      }
    }
  }

  &.active {
    opacity: 1;
    right: 0 !important;
    @include transition-delay(all 350ms ease-in-out, 350ms);
  }
}
