.section {
  width: 100%;
  position: relative;
  z-index: 2;

  &_item {
    padding: $_20;

    &_head {

      &_title {
        color: $text;
        font: 16px $pn-sb;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      &_nav {
        display: flex;

        li {
          margin-right: 10px;

          @include respond-to(phone) {
            margin-right: 5px;
          }

          a {
            color: $gray-light;
            font: 16px $pn-sb;
            text-decoration: none;
            text-transform: uppercase;
            position: relative;

            &:after {
              content: '';
              width: 100%;
              height: 2px;
              display: block;
              background: $blue;
              position: absolute;
              bottom: -2px; left: 0;
              opacity: 0;
            }

            &.active {
              color: $blue;

              &:after {
                opacity: 1;
              }
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &.nav {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
