.section {
  width: 100%;
  position: relative;
  z-index: 2;

  &_item {
    padding: $_20;

    &_head {

      &_title {
        color: $text;
        font: 16px $pn-sb;
        text-transform: uppercase;
        margin-bottom: 15px;

        @include respond-to(mobile) {
          margin-right: 0;
          margin-left: 0;
        }
      }

      &_nav {
        display: flex;
        position: relative;

        li {
          margin-right: 10px;

          @include respond-to(phone) {
            margin-right: 5px;
          }

          a {
            color: $gray-light;
            font: 16px $pn-sb;
            text-decoration: none;
            text-transform: uppercase;
            position: relative;

            &:after {
              content: '';
              width: 100%;
              height: 2px;
              display: block;
              background: $blue;
              position: absolute;
              bottom: -2px; left: 0;
              opacity: 0;
            }

            &.active {
              color: $blue;

              &:after {
                opacity: 1;
              }
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }

        &:before {
          content: '';
          width: 35px;
          height: 20px;
          display: block;
          position: absolute;
          top: 0; left: -35px;
          @include gradient-horizontal-3dot(rgba(248,248,248,0), rgba(248,248,248,1), rgba(248,248,248,1));
        }
      }

      &_location {
        color: $text;
        font: 12px/12px $pn-r;
        margin-bottom: 0px;

        span {
          color: $blue;
          text-transform: uppercase;

          &:before {
            content: '//';
            color: $gray-light;
          }
        }

        &:before {
          content: $icon-location;
          font: 10px $icon;
          color: $gray;
        }
      }

      &_window {
        color: $text;
        font: 12px/12px $pn-r;
        margin: 9px 0 20px;

        span {
          color: $gray;
        }
      }

      &.nav {
        display: flex;
        justify-content: space-between;
      }

      &.center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }
}
