@mixin font-face($fontFamily, $path, $fileName, $svgLabel, $fontWeight: normal, $fontStyle: normal) {
	@font-face {
		font-family: $fontFamily;

		src: url('#{$path + $fileName}.eot');
		src: url('#{$path + $fileName}.eot?#iefix') format('embedded-opentype'),
		url('#{$path + $fileName}.woff') format('woff'),
		url('#{$path + $fileName}.ttf') format('truetype'),
		url('#{$path + $fileName}.svg##{$svgLabel}') format('svg');

		font-weight: $fontWeight;
		font-style: $fontStyle;
	}
}


$pn-t:   'Proxima Nova Thin';
$pn-l:   'Proxima Nova Light';
$pn-r:   'Proxima Nova Regular';
$pn-sb:  'Proxima Nova Semibold';
$pn-b:   'Proxima Nova Bold';
$pn-ti:  'Proxima Nova Thin Italic';
$pn-li:  'Proxima Nova Light Italic';
$pn-ri:  'Proxima Nova Regular Italic';
$pn-sbi: 'Proxima Nova Semibold Italic';
$pn-bi:  'Proxima Nova Bold Italic';

@include font-face($pn-t,   '../fonts/proxima-nova/', 'ProximaNovaT-Thin', 'ProximaNova-Thin');
@include font-face($pn-l,   '../fonts/proxima-nova/', 'ProximaNova-Light', 'ProximaNova-Light');
@include font-face($pn-r,   '../fonts/proxima-nova/', 'ProximaNova-Regular', 'ProximaNova-Regular');
@include font-face($pn-sb,  '../fonts/proxima-nova/', 'ProximaNova-Semibold', 'ProximaNova-Semibold');
@include font-face($pn-b,   '../fonts/proxima-nova/', 'ProximaNova-Bold', 'ProximaNova-Bold');
@include font-face($pn-ti,  '../fonts/proxima-nova/', 'ProximaNova-ThinIt', 'ProximaNova-ThinIt');
@include font-face($pn-li,  '../fonts/proxima-nova/', 'ProximaNova-LightIt', 'ProximaNova-LightIt');
@include font-face($pn-ri,  '../fonts/proxima-nova/', 'ProximaNova-RegularIt', 'ProximaNova-RegularIt');
@include font-face($pn-sbi, '../fonts/proxima-nova/', 'ProximaNova-SemiboldIt', 'ProximaNova-SemiboldIt');
@include font-face($pn-bi,  '../fonts/proxima-nova/', 'ProximaNova-BoldIt', 'ProximaNova-BoldIt');

$icon: 'Icon';
$icon-cup:  		'\e900';
$icon-sd: 			'\e901';
$icon-fire: 		'\e902';
$icon-bc: 			'\e903';
$icon-star: 		'\e904';
$icon-skyderby: '\e905';

@include font-face($icon, '../fonts/icon/', 'icon', 'icon');
