.container {
	@include respond-to(mobile) {
		width: 90%;
		margin: 0 auto;
	}

	@include respond-to(laptop) {
		width: 960px;
		margin: 0 auto;
	}

	@include respond-to(desktop) {
		width: 1200px;
		margin: 0 auto;
	}
}