$mobile:  768px;
$tablet:  1023px;
$laptop:  960px;
$desktop: 1200px;
$mac:     1600px;

@mixin respond-to($media) {

  @if $media == mobile {
    @media only screen and (max-width: $mobile) { @content; }
  }

  @else if $media == tablet {
    @media only screen and (min-width: $mobile) and (max-width: $tablet) { @content; }
  }

  @else if $media == laptop {
    @media only screen and (min-width: $laptop) { @content; }
  }

  @else if $media == desktop {
    @media only screen and (min-width: $desktop + 1) { @content; }
  }

  @else if $media == mac {
    @media only screen and (min-width: $mac + 1) { @content; }
  }
}

// .block {
// 	@include respond-to(mobile) {}
// 	@include respond-to(laptop) {}
// 	@include respond-to(desktop) {}
// }​
